<%- layout("/layouts/boilerplate.ejs") %>
    <div class="row mb-3">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 mx-auto mt-3">
            <div class="card">
                <h5 class="card-header">Task5</h5>
                <div class="card-body">
                    <h5 class="card-title">Objective</h5>
                    <p class="card-text">Introduce server-client
                        communication through a RESTful API.</p>
                    <hr>
                    <h5 class="card-title">Steps</h5>
                    <p class="card-text">
                        Create RESTful API endpoints on the
                        server for handling CRUD operations.
                    </p>
                    <p class="card-text"> Develop a front-end interface that
                        interacts with your own server API.</p>

                    <p class="card-text">

                        Fetch and display data from your API
                        on the front end. </p>

                    <a href="/posts" class="btn btn-primary">See Posts</a>
                    <a href="/posts/new" class=" ms-3 btn btn-secondary">Create your Post</a>
                </div>
            </div>
        </div>
    </div>