<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task4-congnifyz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        * {
            border: 0ch;
            margin: 0%;
            box-sizing: border-box;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        body {
            min-height: 100vh;
            background-color: rgb(243, 238, 238);
            color: rgb(36, 21, 21);
        }

        .main {
            margin-top: 9rem;
        }

        @media screen and (max-width:700px) {
            .main {
                margin-top: 11rem;
            }
        }

        section {
            width: 95vw;
            height: 100%;
            margin: 5rem auto 0 auto;
        }
    </style>
</head>

<body>
    <%- include('navbar') -%>
        <div class="main">
            <section>
                <%- body -%>
            </section>
        </div>

        <%- include('footer') -%>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>

</body>

</html>