<%- layout('boilerplate') -%>
    <style>
        .task-container {
            background: #e0e0e0;
            box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
            margin: auto;
            max-width: 800px;
            width: 100%;
            padding: 20px 30px;
            border-radius: 10px;
        }

        .task-container h2 {
            font-size: 2rem;
            font-weight: 700;
        }

        .task-container h3 {
            font-size: 1.6rem;
            font-weight: 500;
        }
    </style>

    <div class="task-container">
        <h2>This is task 4 of cognifyz Internship</h2>
        <h3>Objective : Extend form validation and
            implement dynamic updates to the DOM.</h3>
        <ul>
            <li>
                <p>Enhance form validation to include more
                    complex rules (e.g., password strength).
                </p>
            </li>

            <li>
                <p>Dynamically update the DOM based on
                    user interactions using JavaScript.
                </p>
            </li>
            <li>
                <p>Implemented client-side routing for a
                    smoother user experience</p>
            </li>

        </ul>

    </div>