<div class="row nav-container sticky-top border-bottom">
  <nav class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top">
    <div class="ms-sm-3 container-fluid">
      <a class="navbar-brand" href="/">
        <i class="fa-solid fa-compass"></i></a>
      <a class="navbar-brand" href="/"><span class="h4 fw-semibold text-danger"> <span
            class="d-none d-sm-inline ">Cognifyz</span> Internship</span></a>
      <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-sm-0 ms-sm-3" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item ms-sm-3">
            <a class="nav-link" href="/posts">Posts</a>
          </li>
          <li class="nav-item ms-sm-3 me-3">
            <a class="nav-link" style="text-wrap: nowrap;" href="/posts/new">Create New Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>