<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task1-conginfyz Internship</title>
</head>

<body>
    <div class="form-container">
        <h1>Login Form</h1>
        <form method="post" action="/login">
            <div>
                <label for="username">UserName</label>
                <input type="text" name="username" id="username">
            </div>
            <br>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <br>
            <button type="submit">Login</button>
        </form>
        <hr>
        <h1>Contact Form</h1>
        <form method="post" action="/contact">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <br>
            <div>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <br>
            <div>
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
            </div>
            <br>
            <button type="submit">Send</button>
        </form>






    </div>
</body>

</html>
